headerbar {
    background-color: #FFFFFF;
    background-image: none;
}

headerbar button {
    background-color: #FFFFFF;
    background-image: none;
    border: initial;
    outline: initial;
    box-shadow: initial;
}

headerbar button.nav-tab {
    margin: 0px;
    border-radius: 0px;
    border-bottom: 2px solid #000;
}

headerbar button:hover {
    background-color: #EFEFF1;
}

headerbar entry {
    background-color: #EFEFF1;
    background-image: none;
    border: initial;
}